html, body { height: 100% }
.play-area {
    width:100%;
    height:60%;
    position: relative;
}
.buttons-area, .timer-area{
    margin:10px 0;
}
.inner-rect {
    display:none;
    cursor: pointer;
}
#gameResults {
    overflow: hidden;
}
.navbar-my {
    margin:0!important;
}
.jumbotron {
    padding-top: 0;
}